<!DOCTYPE html>
<html>
<head>
    <title> Add Election </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/home.css">

</head>
<body>
<div class="row">
    #parse("sidebar.vm")
    <div class="content col-10">
        <div class="card w-50">
            <div class="card-body">
                <form action="/addelection" method="post">
                    <div class="form-group p-1">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control" id="title" placeholder="Enter Title" name="title">
                    </div>
                    <div class="form-group p-1">
                        <label for="numvoters">Number of Voters:</label>
                        <input type="numeric" class="form-control" id="numvoters" placeholder="Enter Number of Voters" name="numvoters">
                    </div>
                    <div class="form-group p-1">
                        <label for="desc">Description:</label>
                        <textarea  class="form-control" id="desc" placeholder="" name="desc"> </textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>