<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/home.css">

</head>
<body class="bg-dark">
        <div class="bg-dark">
            <div class="card mx-auto w-50">
                <div class="card-body">

                    #if ($isElectionStarted == "true")
                        <div class="text-center">
                            <h5> Select your Candidate </h5>
                        </div>
                        #foreach($candidate in $candidates)
                        <div class="card p-0">
                            <div class="card-body text-center voter" uuid="$candidate.uuid">
    ##                            <button type="button" class="btn btn-primary p-2"> $candidate.firstname </button>
                                $candidate.firstname
                            </div>
                        </div>
                        #end
                    #else
                        <div class="text-warning">
                            <h4> The Election is not yet started. Please, Revisit when it begins. </h4>
                        </div>
                    #end
                </div>
            </div>
    </div>
</body>
<script src="js/vote.js"></script>
</html>