<!DOCTYPE html>
<html>
<head>
    <title> Add Election </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
##    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
##    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
##    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">
    #parse("sidebar.vm")
    <div class="content col-10 bg-dark">
        <div class="card mx-auto w-50">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <div class="text-center">
                        <h5 class="text-primary"> Candidate List </h5>
                    </div>
                    #foreach($candidate in $candidates)
                        <li class="list-group-item text-center"> <b> $candidate.firstname </b> </li>
                    #end
                </ul>
            </div>
        </div>
        <div class="card w-50 mx-auto">
            <div class="card-body">
                #if ($iskeyShareGenerated=="false")
                    <form action="/generatekeyshare" method="post">
                        <div class="form-group p-2 text-danger text-center">
                            Before generating these key-shares, please make sure that all  candidates are Registered.
                        </div>
                        <div class="form-group p-1 text-center">
                            <button type="submit" class="btn btn-primary">Generate Shamir's Keyshares</button>
                        </div>
                    </form>
                #else
                    <div class="p-2">
                        <h4 class="text-success text-center"> Key Share has been successfully Generated ! </h4>
                    </div>
                #end
            </div>
        </div>
        <div class="card w-50 mx-auto">
            <div class="card-body">
                #if ($isElectionStarted=="false")
                    <form action="/startelection" method="post">
                        <div class="form-group p-2 text-danger text-center">
                            Before starting the Election, Please, make sure Shamir's key has been generated.
                        </div>
                        <div class="form-group p-1 text-center">
                            <button type="submit" class="btn btn-primary"> Start Election </button>
                        </div>
                    </form>
                #else
                    <div class="p-2">
                        <h4 class="text-success text-center"> Election has been started ! </h4>
                    </div>
                #end
            </div>
        </div>
        <div class="card w-50 mx-auto">
            <div class="card-body">
                #if ($isElectionEnded=="false")
                    <form action="/endelection" method="post">
                        <div class="form-group p-2 text-danger">
                            End Election.
                        </div>
                        <div class="form-group p-1 text-center">
                            <button type="submit" class="btn btn-primary"> End Election </button>
                        </div>
                    </form>
                #else
                    <div class="p-2">
                        <h4 class="text-success"> Election has been Ended, You can view the results now ! </h4>
                    </div>
                #end
            </div>
        </div>
    </div>
</div>
</body>