<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>
<div class="row">
    #parse("sidebar.vm")
    <div class="content col-10">
        <div class="text-center">
            <h4> Upcoming Elections </h4>
        </div>
        #foreach( $election in $elections)
            <div class="card">
                <div class="card-body">
                    <a href="election/$election.title"> <h5 class="panel-body w-50">Title: $election.title </h5> </a>
                    <p class="panel-body w-50"> Number of Voters: $election.numvoters </p>
                    <p class="panel-body w-50"> Description: $election.description </p>
                </div>
            </div>
        #end
    </div>
</div>
</body>

<script src="js/home.js"></script>
</html>